.news {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: burlywood;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  /* margin-right: 10px; */

}

.user img {
  width: 40px;
  border-radius: 50%;
}

.like img {
  width: 40px;
  border-radius: 20%;
  padding: 5px;
  margin-right: 10px;
}

.likesBox {
  display: flex;
  
}

.user {
  display: flex;
}

.content {
  margin: 20px 0;
  background-color: beige;
  padding: 10px;
}