.myPosts {
  display: flex;
  padding: 10px;
}
.myPosts div {
  margin-right: 10px;
}
.myPosts img {
  width: 40px;
  border-radius: 50%;
}

.inputTextBoxProfile {
  margin-bottom: 30px;
}

.textareaInput {
  width: 400px;
}
