.post {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
  max-width: 400px
}

.post img {
  width: 40px;
  border-radius: 50%;
}

.removeBtn {
  
  position: relative;
  bottom: 6px;
  font-size: 15px;
}

.content {
  max-width: 300px;
  overflow:hidden;
}

.content p{
  width: 250px;
  word-break: break-word;
}