.post {
  display: flex;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
  width: 400px
}

.post img {
  width: 40px;
  border-radius: 50%;
}

.removeBtn {
  
  position: relative;
  bottom: 6px;
  font-size: 15px;
}