.header {
    background-color: rgb(122, 33, 163);
    
}

.header a {
    color: white;
}

.header a.active {
  color: rgb(190, 32, 32);
}

.header__logo__img {
  width: 50px;
}

.button-panel {
  float: right;
  margin-right: 30px;
  margin-top: 15px;

}
