.header {
  display: flex;
  align-items:center;
    background-color: rgb(122, 33, 163);
    height: 50px;
    
    
}

.header h1 {
    color: white;
    font-size: 16px;
    margin: 20px;

}

.header a.active {
  color: rgb(190, 32, 32);
}

.header__logo__img {
  width: 40px;
  border-radius: 50%;
  align-items: center;
}

.button-panel {
  display: flex;
  padding-left: 30px;
}
